{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Login</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">If don't have account <a href="/register">Create an account</a></p>
    </div>
{% endblock %}
